<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <link href="dashboard.css" rel="stylesheet" type="text/css">
    <script src="/bootstrap/js/jquery.min.js" type="text/javascript "></script>
    <script src="/bootstrap/js/bootstrap.js" type="text/javascript"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script src="chartkick.js"></script>
    
  <head>
    <title>Breadcrumb Dash</title>
    <h1>Breadcrumb Dash</h1>
  </head>
  <hr/>
  <body>
    <div class="container-fluid">
		  <h1><%= yield %></h1>
	  </div>
  </body>
</html>


